section{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.action{
    background-color: #111;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
}
section.extend{
    grid-template-columns: auto 400px;
}
.action-content{
    padding: 1rem;
}