<p-toast></p-toast>
<co-recoverdatalayout label="Paso 4 de 4" [extend]="true">
    <div view class="p-3">
        <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
            <co-card class="shadow-1">
                <h4 class="mb-3">Informacion del archivo</h4>
                <div><b>Grupos:</b> {{listCountThemesAnswer().length}}</div>
                <div><b>Estudiantes:</b> {{totalStudents()}}</div>
                <table class="mt-3">
                    <tr>
                        <th>Grupo</th>
                        <th># Estudiantes</th>
                    </tr>
                    <tr *ngFor="let item of listCountThemesAnswer()">
                        <td class="text-center">{{item.idTheme}}</td>
                        <td class="text-right">{{item.total}}</td>
                    </tr>
                </table>
            </co-card>
            <co-card style="flex: 1;" class="shadow-1">
                <h4 class="mb-3">Comparación</h4>
                <div><b>Asistencia:</b> {{asistenceList.length}}</div>
                <div><b>Estudiantes:</b> {{totalStudents()}}</div>
                <div class="mt-3" *ngIf="asistenceList.length != totalStudents() || listCountThemesAnswer().length > 3">
                    Algunos datos no concuerdan, esto puede deberse a lo siguiente
                    <ul>
                        <li>
                            El archivo no contiene toda la informaciond de las cartillas escaneadas
                        </li>
                        <li>Algunos estudiantes marcaron incorrectamente sus codigos en las cartillas</li>
                        <li>Algunos estudiantes no estan asignados a un grupo o tema valido</li>
                    </ul>
                    
                </div>
            </co-card>
            <co-card style="background-color: #263238; width: 100%;">
                <h3 class="mb-4" style="color: white;">Contenido del archivo</h3>
                <ngx-codemirror [ngModel]="fileProcess()" [options]="{
                                    lineNumbers: true,
                                    theme: 'material',
                                    readOnly: true,
                                    mode: 'javascript'
                                    }">
                </ngx-codemirror>
            </co-card>
        </div>
        
        <!--<div style="display: flex; justify-content: center;">
            <co-card>
                <table>
                    <thead>
                        <tr>
                            <td>BARCODE</td>
                            <td>TEMA</td>
                            <td>PREGUNTA</td>
                            <td>RESPUESTA</td>
                        </tr>
                    </thead>
                        <tr *ngFor="let item of processAnswers()">
                        <td class="ml-2">{{item.idBar}}</td>
                        <td class="ml-2">{{item.idTheme}}</td>
                        <td class="ml-2 r">{{item.idQuestion}}</td>
                        <td class="ml-2 r">{{item.answer}}</td>
                    </tr>

                </table>
            
            </co-card>
        
        </div>
        -->
    </div>
    <div action class="f-c" style="height: 100%;">
        <img src="/assets/txt-file.svg" class="filter-white" style="height: 6rem;">
        <co-box size="2rem"></co-box>
        <h3>Seleccione el archivo que contenga las respuestas</h3>
        <co-box></co-box>
        <label pButton>Cargar respuestas
            <input type="file" style="display: none;" (change)="loadData($event)">
        </label>

        <div style="display: flex; justify-content: center;">
            <p-button styleClass="mt-3 p-button-secondary" routerLink="/step3">Retroceder</p-button>
            <co-box></co-box>
            <p-button styleClass="mt-3 p-button-secondary" (onClick)="validate()">REPORTE</p-button>
        </div>
        
    </div>
</co-recoverdatalayout>

<co-layout-bottom [wrapper]="false" *ngIf="this.processAnswers.length">
    <p-button styleClass="p-button-secondary" label="Salvar datos" (onClick)="saveData()"></p-button>
</co-layout-bottom>