<div class="title-app">
    <span>PROCESO DE CALIFICACIÓN</span>
    <b>{{isModeOffLine ? 'OFFLINE MODE' : 'ONLINE MODE'}}</b>
</div>
<section>
    <div class="project-content">
        <div style="display: flex; gap: .5rem; justify-content: flex-end;" class="pb-4">
            <button pButton class="p-button-text" icon="pi pi-plus" (click)="newProject()" label="Nuevo"></button>
            <button pButton class="p-button-text" icon="pi pi-cloud-download" (click)="forceLoadProjects()" label="Recargar" *ngIf="!isModeOffLine"></button>
            <button pButton class="p-button-text" icon="pi pi-wifi" (click)="changeMode()" [label]="isModeOffLine ? 'Offline': 'Online'"></button>
        </div>
        <div *ngIf="projects.length == 0">
            <co-card class="text-center py-6 px-3">
                <i>AUN NO EXISTEN PROYECTOS</i>
            </co-card>
        </div>
        <div *ngFor="let item of projects" class="item-project">
            <co-card class="shadow-1 item-project-button item-project-button-selectable" (click)="setProject(item)"
                [style]="{'border-color': listColor[item.unidad]}">
                <i class="pi pi-box"></i><span>{{item.name}}</span>
            </co-card>
            <button pButton icon="pi pi-pencil" class="shadow-1 b-edit" (click)="editProject(item)"></button>
        </div>

    </div>
    <div class="text-center">
        <img [src]="isModeOffLine ? '/assets/offline.png': '/assets/office.png'" alt="s" style="padding: 2rem ;">
    </div>
</section>
<p-dialog [header]="onNew == 1? 'CREAR PROYECTO': 'EDITAR: '+ currentEditProject.name" [visible]="onNew != 0"
    (visibleChange)="onNew = 0" [modal]="true" [style]="{width: '90%', 'max-width': '800px'}">
    <div class="py-2" style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
        <div class="f-c">
            <img [src]="isModeOffLine ? '/assets/offline.png': '/assets/office.png'" alt="edit file" style="max-height: 160px;">
        </div>
        <div>
            <div class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="currentEditProject.name"
                    style="width: 100%;">
                <label for="float-input">Nombre del proyecto</label>
            </div>
            <div class="mt-4">
                <h4 class="mb-4">Elegir unidad</h4>
                <div class="field-radiobutton">
                    <p-radioButton name="admision" value="admision" [(ngModel)]="currentEditProject.unidad"
                        inputId="admision">
                    </p-radioButton>
                    <label for="admision">ADMISIÓN</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="cepre" value="cepre" [(ngModel)]="currentEditProject.unidad" inputId="cepre">
                    </p-radioButton>
                    <label for="cepre">CEPRE</label>
                </div>
                <div class="field-radiobutton">
                    <p-radioButton name="otros" value="otros" [(ngModel)]="currentEditProject.unidad" inputId="otros">
                    </p-radioButton>
                    <label for="otros">OTROS</label>
                </div>

            </div>
            <div class="mt-4 text-right">
                <button pButton (click)="saveProject()" class="p-button-sm">Salvar</button>
            </div>
        </div>

    </div>
</p-dialog>
<p-toast></p-toast>