:host{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
}
img{
    height: 400px;
}
.label-project{
    font-size: 1.5rem;
    font-weight: lighter;
}
.item-project-button{
    display: flex;
    gap: .5rem;
    align-items: center;
    cursor: pointer;
}
.item-project-button-selectable{
    border-left: 4px solid #ccc;

}
.project-content{
    width: 100%; max-width: 400px; display: grid; gap: .5rem
}
.item-project{
    position: relative;
}
.item-project button.b-edit{
    position: absolute;
    top: 50%;
    transform: translate(-4px, -50%);
    right: 0;
    display: none;
}
.item-project:hover button.b-edit{
    display: block;
}
.title-app{
    font-size: 1.5rem;
    font-weight: lighter;
    width: 100%;
    padding: 1rem;
    text-align: right;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
}
.title-app b{
    font-size: 1rem;
}
@media screen and (max-width: 600px){
    .title-app{
        position: relative;
        text-align: center;
        font-size: 1.2rem;
    }
    :host{
        justify-content: flex-start;
        height: auto;
    }
    section{
        flex-direction: column-reverse;
    }
    img{
        height: 200px;
    }
    .project-content{
        grid-template-columns: 1fr;
    }
    
}