<co-recoverdatalayout [extend]="true" label="Informacion Estudiante">
    <div view class="p-3">
        <ng-container *ngIf="studentInfo">
            <section>
                <div>
                    <co-card class="shadow-1">
                        <div class="text-center mb-6">
                            <div style="font-size: 1.2rem; font-weight: lighter;">{{studentInfo.fullname}}</div>
                            <b>{{studentInfo.careerName}}</b>
                        </div>
                        
                        <p-chart type="doughnut" [data]="data"></p-chart>
                        <div class="mt-4">
                            <table style="width: 100%;">
                                <tr>
                                    <th class="text-left">INDICADOR</th>
                                    <th>CANTIDAD</th>
                                    <th>PORCENTAJE</th>
                                </tr>
                                <tr *ngFor="let indicator of dataset2">
                                    <td><span [style]="{color: indicator.color}">{{indicator.statusName}}</span></td>
                                    <td class="text-center">{{indicator.total}}</td>
                                    <td class="text-center">{{indicator.percent}}%</td>
                                </tr>
                            </table>
                        </div>
                    </co-card>
                </div>
                <co-card *ngIf="answerStudent.length" class="shadow-1">
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>MARCO</th>
                                <th>CORRECTA</th>
                                <th>ESTADO</th>
                                <th class="text-right">PUNTOS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of answerStudent;">
                                <td class="text-center">{{item.index}}</td>
                                <td class="text-center">{{item.answer}}</td>
                                <td class="text-center">{{item.correct}}</td>
                                <td [style]="{color: statusInfoColor[item.status]}">{{statusInfo[item.status]}}</td>
                                <td [style]="{color: statusInfoColor[item.status]}" class="text-right">{{item.points}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-right">TOTAL</td>
                                <td class="text-right">{{score()}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </co-card>
            </section>
        </ng-container>
    </div>
    <div action>
        <button pButton [routerLink]="['/report']" style="width: 100%;" class="shadow-1">REGRESAR A REPORTES</button>
    </div>
</co-recoverdatalayout>