.action-table{
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 100%;
    height: 100%;
}
::ng-deep .customChip {
    height: 28px;
    color: white;
    border-radius: .25rem;
    cursor: pointer;
}