<co-recoverdatalayout label="Paso 2 de 4" [extend]="dataRelation.length > 0">
    <div view style="height: 100%; display: grid; grid-template-columns: 1fr 400px; grid-template-rows: 100%; gap: 1rem;" class="p-3">
        <div style="overflow-y: auto; height: 100%;">
            <div>
                <co-card class="mb-4" style="background-color: #263238;">
                    <h3 class="mb-4" style="color: white;">Contenido del archivo</h3>
                    <ngx-codemirror [(ngModel)]="file" [options]="{
                        lineNumbers: true,
                        theme: 'material',
                        mode: 'javascript',
                        readOnly: true
                        }">
                    </ngx-codemirror>
                </co-card>
                <co-card class="shadow-1">
                    <p-table [value]="relationKeys" styleClass="p-datatable-sm p-datatable-striped" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 0;"></th>
                                <th class="text-left">NOMBRE COMPLETO</th>
                                <th width="0px" class="text-center">CODIGO</th>
                                <th width="0px" class="text-center">INDENTIFICADOR</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-student let-i="rowIndex">
                            <tr>
                                <td>{{i + 1}}</td>
                                <td style="font-size: .8rem;">{{student.fullname}}</td>
                                <td class="text-center">{{student.code}}</td>
                                <td class="text-center">{{student.idBar == null? 'FALTA': student.idBar}}</td>
                            </tr>
                        </ng-template>

                    </p-table>
                </co-card>

            </div>
        </div>
        <div style="overflow-y: auto; height: 100%;">
            <div style="display: grid; gap: .5rem;">
                <co-card class="shadow-1">
                    <b>{{relationKeys.length}} ENCONTRADOS  DE {{dataRelation.length - 1}} ESCANEADOS</b>
                    <i>NOTA: ALUMNOS SEGUN LA FICHA DE RELACIÓN {{studentInfo.length}}</i>
                </co-card>
                <co-card *ngIf="dataLost.length" class="shadow-1">
                    <div class="mb-4">
                        <h3>Identificadores perdidos</h3>
                        Los siguientes codigos en cartillas no corresponden a ningun estudiante registrado.
                    </div>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="text-left">CODIGO</th>
                                <th class="text-left">ID BARRA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataLost">
                                <td>{{item.code}}</td>
                                <td>{{item.idBar}}</td>
                            </tr>
                        </tbody>
                    </table>
                </co-card>
                <co-card *ngIf="repeatedCode.length" class="shadow-1">
                    <div class="mb-4">
                        <h3>Identificadores duplicados</h3>
                        Los siguientes Identificadores estan asociados a un mismo alumno.
                    </div>
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="text-left">CODIGO</th>
                                <th class="text-left">IDENTIFICADOR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of repeatedCode">
                                <td>{{item.code}}</td>
                                <td>{{item.idBar}}</td>
                            </tr>
                        </tbody>
                    </table>
                </co-card>
                <co-card *ngIf="inasistenceList.length" class="shadow-1">
                    <div class="mb-4">
                        <h3>Alumnos faltantes</h3>
                        Los siguientes alumnos no se encuentran en las cartillas escaneadas.
                    </div>
                    <p-table [value]="inasistenceList" styleClass="p-datatable-sm p-datatable-striped" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 0">#</th>
                                <th class="text-left"  style="width: 0;">CODIGO</th>
                                <th class="text-left">NOMBRES</th>
                                <th class="text-left" style="width: 0;"></th>
    
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{item.code}}</td>
                                <td class="text-xs">{{item.fullname}}</td>
                                <td class="text-xs">{{item.career}}</td>
                            </tr>
                                
                        </ng-template>
                    </p-table>
                </co-card>
            </div>

        </div>

    </div>

    <div action class="f-c" style="height: 100%;">
        <img src="/assets/txt-file.svg" class="filter-white" style="height: 6rem;">
        <co-box size="2rem"></co-box>
        <h3>Seleccione el archivo que contenga la información del codigo de barras y de estudiantes</h3>
        <co-box></co-box>
        <label pButton class="p-button-raised  p-button-sm">
            Codigo de barras y alumno
            <input type="file" style="display: none;" (change)="loadRelationsKeys($event)">
        </label>

        <div class="mt-3">
            <p-button styleClass="p-button-secondary p-button-raised p-button-sm" routerLink="/loadstudents">Retroceder</p-button>
            <p-button styleClass="ml-2 p-button-secondary p-button-raised p-button-sm" (onClick)="nextStep()">Siguiente</p-button>
        </div>

    </div>
</co-recoverdatalayout>
<p-toast></p-toast>
<co-layout-bottom *ngIf="dataRelation.length > 0" [wrapper]="false">
    <p-button styleClass="p-button-secondary" (onClick)="saveData()">Salvar datos</p-button>
</co-layout-bottom>