<co-recoverdatalayout [extend]="countKeyperGroup().length > 0" label="PASO 3 DE 4">
    <div view class="p-4">
        <co-card class="mb-4" style="background-color: #263238;">
            <h3 class="mb-4" style="color: white;">Contenido del archivo</h3>
            <ngx-codemirror [ngModel]="file" [options]="{
                        lineNumbers: true,
                        theme: 'material',
                        mode: 'javascript',
                        readOnly: true
                      }"></ngx-codemirror>
        </co-card>
        <div class="content-groups" *ngIf="countKeyperGroup().length">
            <div *ngFor="let item of countKeyperGroup()">

                <co-box></co-box>
                <div class="co-card">
                    <h3 class="pb-4">CLAVES: {{item.total}} | TEMA {{item.group}}</h3>
                    <div class="keys-content">
                        <ng-container *ngFor="let tableKeys of computeKeys()">
                            <div class="item-key" *ngIf="tableKeys.idGroup == item.group" [class]="{notValid: validateResponseCode(tableKeys.key)}">
                                <span class="c">{{tableKeys.index}}</span>
                                <span class="c">{{tableKeys.key}}</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div action class="f-c" style="height: 100%;">
        <img src="/assets/txt-file.svg" style="height: 6rem;" class="filter-white">
        <co-box size="2rem"></co-box>
        <h3>Para empezar es necesario cargar las claves</h3>
        <co-box size="2rem"></co-box>
        <label pButton class="p-button-raised">
            {{countKeyperGroup().length?'Volver a cargar':'Cargar claves'}}
            <input type="file" style="display: none;" (change)="onLoadKeys($event)">
        </label>
        <co-box size="4rem"></co-box>
        <div *ngIf="countKeyperGroup().length" style="text-align: left;">
            <p-checkbox [(ngModel)]="isDropHeader" label="Quitar cabecera" [binary]="true" (onChange)="dropHeader()"></p-checkbox>
            <co-box></co-box>
            <p-checkbox [(ngModel)]="isDropFirstColumn" label="Quitar primera columna" [binary]="true" (onChange)="dropHeader()"></p-checkbox>

        </div>
        <co-box size="6rem"></co-box>

        <div class="flex">
            <p-button label="Retroceder" routerLink="/LoadIdentifiers" styleClass="p-button-secondary p-button-raised"></p-button>
            <p-button label="Siguiente" (click)="nextStep()" styleClass="p-button-secondary p-button-raised ml-3"
                *ngIf="countKeyperGroup().length > 0"></p-button>

        </div>

    </div>
</co-recoverdatalayout>

<co-layout-bottom [wrapper]="false" *ngIf="countKeyperGroup().length > 0">
    <p-button styleClass="p-button-secondary" (click)="saveInformation()">Salvar Datos</p-button>
</co-layout-bottom>
<p-toast></p-toast>