
.init_message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    flex: 1;
    padding: 1rem;
}
.content-groups{
    display: grid;
    gap: 1rem;
}
.keys-content{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}
.item-key{
    display: grid;
    background-color: rgb(231, 231, 231);
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
}
.item-key span{
    font-weight: bold;
    padding: .25rem;
}
.item-key span:nth-child(1){
    font-weight: normal;
    background-color: rgb(170, 170, 170);
}

.notValid.item-key span{
    font-weight: bold;
    padding: .25rem;
    background-color: rgb(255, 237, 237);
}
.notValid.item-key span:nth-child(1){
    background-color: rgb(255, 113, 113);
    font-weight: normal;
}